@media (max-width: 1100px) {
  .flx-sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  .img-outer{
    width: 45%;
  }

  .dic-main-sec{
    padding: 15px;
  }
}

@media (max-width: 700px) {

  .main-text-ads{
    font-size: 20px;
    line-height: 28px;
  }

  .currency-text{
    margin-top: 2rem;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 590px) {

  .main-text-ads{
    font-size: 18px;
    line-height: 24px;
  }

  .currency-text{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
  }

}

@media (max-width: 514px) {

  .main-text-ads{
    font-size: 16px;
    line-height: 22px;
  }

  .short-text{
    font-size: 14px;
  }

  .currency-text{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  }

}

@media (max-width: 465px) {

  .main-text-ads{
    font-size: 14px;
    line-height: 20px;
  }

  .short-text{
    font-size: 12px;
  }

  .cat-text{
    font-size: 12px;
  }

  .location-text{
    font-size: 12px;
  }

  .currency-text{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .dic-main-sec{
    padding: 6px;
  }

}
