.main-outer{
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sec-outer{
    margin: auto;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    width: 90%;
    height: 4rem;
    border: 1px solid black;
}

.sec-outer a {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
