<div class="main-outer">
    <div class="side-panel-title">
        <p>Choose any of these <br>options</p>
    </div>
    <div class="sec-outer">
        <button>
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </button>
    </div>
    <div class="sec-outer">
        <button>
            <mat-icon>person</mat-icon>
            Users
        </button>
    </div>
    <div class="sec-outer">
        <button>
            <mat-icon>collections</mat-icon>
            Posts
        </button>
    </div>
    <div class="sec-outer">
        <button>
            <mat-icon>sort</mat-icon>
            Categories
        </button>
    </div>
    <div class="sec-outer">
        <button>
            <mat-icon>settings</mat-icon>
            Settings
        </button>
    </div>
</div>
