<app-header></app-header>
<div class="main-outer">
  <div class="sec-out">
    <div class="content-outer">
      <div class="h-outer">
        <p class="header-txt">Welcome to Hadisi.LK</p>
        <div class="para-outer">
          <p>Get Started Quick & Easy</p>
        </div>
      </div>
      <div class="mob-outer">
        <img src="/images/vector-signup.png" class="img-outer" alt="vector">
      </div>
      <div class="login-txt-outer">
        <p>Already have an account?</p>
        <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium
         text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200
          hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100
           dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
            dark:hover:text-white dark:hover:bg-gray-700">Login</button>
      </div>
    </div>
    <div class="main-outer-form">
      <div class="mt-5 form-outer">
        <form class="form-layer w-auto h-auto">
          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Name</label>
            <input placeholder="First Name" type="text" name="fname" class="email-input w-auto h-10 rounded-lg focus:outline-blue-700 bg-gray-50 border border-gray-400 text-sm" [(ngModel)]="firstname">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Email</label>
            <input placeholder="Email" type="email" name="email" autocomplete="email" class="email-input w-auto h-10 rounded-lg focus:outline-blue-700 bg-gray-50 border border-gray-400 text-gray-900 text-sm" [(ngModel)]="email">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Password</label>
            <input placeholder="Password" type="password" name="password" class="email-input w-auto h-10 rounded-lg focus:outline-blue-700 bg-gray-50 border border-gray-400 text-gray-900 text-sm" [(ngModel)]="password">
          </div>

          <div class="email-outer flex flex-col">
            <label class="email-outer font-bold">Confirm Password</label>
            <input placeholder="Confirm Password" type="password" name="password" class="email-input w-auto h-10 rounded-lg focus:outline-blue-700 bg-gray-50 border border-gray-400 text-gray-900 text-sm" [(ngModel)]="confirmpaswoard">
          </div>

          <div class="sign-outer">
            <button type="button" class="text-white rounded-2xl w-full h-full bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none">Register</button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
