<div class="search-sec-mobile mt-3">
  <div class="search-outer">
    <input type="text" class="searchTerm" placeholder="Search Here....">
    <button type="submit" class="searchBtn border-primary bg-primary">
      <img width="30" height="30" class="icon-search" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/search--v1.png" alt="search--v1"/>
    </button>
  </div>
</div>
<div class="all-outer h-auto rounded-2xl mx-auto my-8">
  <div class="cat-sec px-4">
    <button class="filter-btn"><mat-icon>local_offer</mat-icon></button>
    <label class="filter-tag">Category</label>
  </div>
  <div class="search-sec">
    <div class="search-outer">
      <input type="text" class="searchTerm" placeholder="Search Here....">
      <button type="submit" class="searchBtn border-primary bg-primary">
        <img width="30" height="30" class="icon-search" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/search--v1.png" alt="search--v1"/>
      </button>
    </div>
  </div>
  <div class="location-sec">
    <button class="filter-btn"><mat-icon>place</mat-icon></button>
    <label class="filter-tag">Location</label>
  </div>
</div>
<div class="main-outer max-w-7xl flex mx-auto h-auto">
  <div class="sideOne  w-96 h-auto my-2 rounded">
    <app-side-panel></app-side-panel>
  </div>
  <div class="sideTwo w-full h-auto ml-2 my-2 rounded">
    <app-ads-panel></app-ads-panel>
  </div>
  <div class="float-outer">
    <app-float-btn></app-float-btn>
  </div>
</div>
