*{
  margin: 0;
  padding: 0;
}

.upper-sec-outer{
  /*border: 1px solid red;*/
  width: 100%;
  height: auto;
}

.upper-tile-outer{
  /*border: 1px solid black;*/
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(to bottom, #4e62fc, #008cff, #00a9ff, #00c1f2, #47d4e0);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

.about-sec{
  margin: auto;
  /*border: 1px solid yellow;*/
  max-width: 1450px;
  height: auto;
  display: flex;
  align-items: center;
}

.main-area{
  /*border: 1px solid black;*/
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text{
  margin-bottom: 2rem;
  height: auto;
  width: 90%;
  /*border: 1px solid red;*/
  font-size: 42px;
  line-height: 65px;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.button-outer{
  /*border: 1px solid red;*/
  width: 90%;
}

.all-ads-button{
  background-color: #FFDB00;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.vector-area{
  /*border: 1px solid black;*/
  width: 50%;
  height: auto;
  align-content: center;
}

.vector-img{
  margin:auto;
  max-height: 450px;
  /*border: 1px solid black;*/
}

.down-tile-outer{
  /*border: 1px solid red;*/
  background: white;
  width: 100%;
  height: 100%;
}

.serach-outer{
  /*border: 1px solid black;*/
  width: 50rem;
  height: 5rem;
  margin: 4rem auto auto;
  display: flex;
  align-items: center;
}

.searchTerm {
  width: 100%;
  border: 5px solid;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 100PX 0 0 100PX;
  outline: none;
  color: #2169AD;
}

.icon-search{
  margin : auto;
}

.searchButton {
  background-color: #2169AD;;
  color: #2169AD;
  border: 5px solid;
  border-radius : 0 100PX 100PX 0;
  border-left: none;
  width: 50px;
  height: 50px;
  text-align: center;
  /*color: #fff;*/
  /*border-radius: 0 50% 50% 0;*/
  cursor: pointer;
  font-size: 25px;
}

.category-outer{
  width: 100%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  /*border: 1px solid black;*/
}

.category-set{
  margin: auto;
  /*border: 1px solid blue;*/
  max-width: 1000px;
  height: auto;
}

.header-text{
  /*border: 1px solid black;*/
  width: auto;
  height: 10%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.category-text{
  font-weight: bold;
  font-size: large;

}

.set-outer{
  /*border: 1px solid orangered;*/
  margin: 2rem auto auto;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.cards{
  /*border: 1px solid deeppink;*/
  width: 8rem;
  height: 8rem;
  margin: auto;
}

.line-set{
  display: flex;
  width: 100%;
  height: 100%;
}

.icon-outer{
  width: 5rem;
  height: 5rem;
  /*border: 1px solid black;*/
  margin: auto;
  border-radius: 50%;
  background: #EEEEEE;
  display: flex;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.label-outer{
  width: 100%;
  height: 37%;
  /*border: 1px solid blue;*/
}

.icon-outer img{
  margin: auto;
  width: 3rem;
}

.label-text{
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 1248px) {

  .main-text{
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 1158px) {
  .main-text{
    font-size: 39px;
    line-height: 58px;
  }

  .all-ads-button{
    height: 40px;
  }
}

@media (max-width: 1077px) {
  .main-text{
    font-size: 37px;
    line-height: 57px;
  }

  .all-ads-button{
    height: 38px;
  }
}

@media (max-width: 1024px) {

  .main-text {
    font-size: 36px;
    line-height: 56px;
  }

  .searchTerm {
    height: 40px;
  }

  .searchButton {
    width: 40px;
    height: 40px;
  }

  .cards {
    width: 7rem;
    height: 7rem;
  }

  .icon-outer {
    width: 4rem;
    height: 4rem;
  }

  .icon-outer img {
    width: 2.5rem;
  }

  .label-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 994px) {

  .main-text {
    font-size: 34px;
    line-height: 54px;
  }

}

@media (max-width: 940px) {
  .main-text{
    font-size: 32px;
    line-height: 50px;
  }

  .all-ads-button{
    height: 35px;
  }
}

@media (max-width: 885px) {
  .main-text{
    font-size: 30px;
    line-height: 48px;
  }
}

@media (max-width: 859px) {
  .main-text{
    font-size: 29px;
    line-height: 46px;
  }
}

@media (max-width: 825px) {

  .main-text {
    font-size: 28px;
    line-height: 48px;
  }

  .down-tile-outer{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .serach-outer {
    width: 70%;
    height: 5rem;
    margin: 2rem auto;
  }

  .searchTerm {
    height: 40px;
    font-size: 14px;
  }

  .searchButton {
    width: 40px;
    height: 40px;
  }

  .category-set {
    width: 85%;
  }

  .header-text {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .line-set {
    flex-direction: row;
    align-items: center;
  }

  .cards {
    width: 25%;
    height: auto;
    margin-bottom: 1rem;
  }

  .icon-outer {
    width: 4rem;
    height: 4rem;
  }

  .icon-outer img {
    width: 2.5rem;
  }

  .label-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 776px) {
  .main-text {
    font-size: 27px;
    line-height: 42px;
  }

  .all-ads-button{
    height: 30px;
    font-size: 22px;
  }

}

@media (max-width: 666px) {
  .main-text {
    font-size: 26px;
    line-height: 38px;
  }

  .all-ads-button{
    height: 26px;
    font-size: 20px;
  }

}


/* For mobile phones */
@media (max-width: 600px) {
  .upper-tile-outer {
    flex-direction: column;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .about-sec {
    flex-direction: column;
    height: auto;
  }

  .main-area {
    width: 100%;
    margin-bottom: 1rem;
  }

  .main-text {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    width: 78%;
  }

  .vector-area {
    width: 100%;
    height: auto;
  }

  .vector-img{
    height: 180px;
  }

  .button-outer {
    width: 75%;
  }

  .all-ads-button {
    font-size: 18px;
    height: 28px;
  }

  .serach-outer {
    width: 70%;
    height: 3rem;
    margin: 2rem auto;
  }

  .searchTerm {
    height: 35px;
    font-size: 14px;
  }

  .searchButton {
    width: 35px;
    height: 35px;
  }

  .category-outer{
    height: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .category-set {
    width: 90%;
    height: auto;
  }

  .header-text {
    width: 100%;
    justify-content: center;
    padding-left: 0;
    margin-top: 1rem;
  }

  .set-outer{
    height: auto;
  }

  .line-set {
    flex-direction: row;
    align-items: center;
  }

  .cards {
    width: 25%;
    height: auto;
    margin-bottom: 2rem;
  }

  .icon-outer {
    width: 4rem;
    height: 4rem;
  }

  .icon-outer img {
    width: 2.5rem;
  }

  .label-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {

  .category-set{
    /*margin: auto;*/
    width: 100%;
    height: 80%;
  }

  .set-outer{
    width: 94%;
    height: 70%;
  }

  .main-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
    width: 84%;
  }

}
