.main-outer {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.detail-sec-outer {
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.detail-sec {
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
}

.profile {
    /* border: 1px solid black; */
    height: auto;
}

.prof-pic {
    /*border: 1px black solid;*/
    width: 15rem;
    border-radius: 20%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.details {
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.details-outer {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
}

.d-text {
    font-size: 14px;
    margin-bottom: 1rem;
    width: 50%;
    /* border: 1px solid blue; */
}

.field-outer {
    /* border: 1px solid black; */
    display: flex;
    height: auto;
    margin-left: 3rem;
}

.field-outer span {
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.field-outer input {
    padding-left: 5px;
}

.btn-outer {
    /* border: 1px solid black; */
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    padding: 0.5rem;
    padding-right: 1rem;
}

.btn-outer button {
    font-size: 16px;
    width: 400px;
}

.ads-outer {
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.ad {
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.ad-img {
    width: 40%;
    /* border: 1px solid red; */
}

.ad-dis-sec {
    width: 60%;
    /* border: 1px solid red; */
}

.popUp-outer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popUp-inner-layer{
  /*border: 1px solid blue;*/
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  height: 95%;
}

.popUp-form-outer{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.input-outers{
  width: fit-content;
  /*border: 1px solid red;*/
  margin: auto;
  margin-bottom: 25px;
}

.input-outers input{
  width: 500px;
}

.file-up-outer{
  width: 500px;
}

#submit-btn{
  width: 60%;
  margin: auto;
}
